@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	padding: 0
	margin: 0
	box-sizing: border-box

html
	height: 100%
	overflow-x: hidden

body
	margin: 0
	padding: 0
	font-family: "FiraCode", monospace
	background: linear-gradient(#fdfcfb, #e2d1c3)


form
	margin-top: 120px
	background: linear-gradient(#feada6, #f5efef)
	border-radius: 20px
	legend
		text-align: center
		padding: 10px
		font-size: 30px
		color: $text
	.main
		&_form
			&__name
				display: flex
				justify-content: space-between
				color: $text
				font-size: 18px
				padding: 15px
				label
					text-align: left
					padding: 0px 30px
				input 
					margin-right: 10px
					text-align: right
					background: linear-gradient(#fdfbfb, #ebedee)
					outline: none 
					text-align: center
					border-radius: 2px
					border: none
			&__phone
				display: flex
				justify-content: space-between
				color: $text
				font-size: 18px
				padding: 15px
				label
					padding: 0px 30px
					text-align: left
				input 
					margin-right: 10px
					background: linear-gradient(#fdfbfb, #ebedee)
					outline: none 
					text-align: center
					border-radius: 2px
					border: none
			&__email
				display: flex
				justify-content: space-between
				color: $text
				font-size: 18px
				padding: 15px
				label
					padding: 0px 30px
				input 
					margin-right: 10px
					background: linear-gradient(#fdfbfb, #ebedee)
					outline: none 
					text-align: center
					border-radius: 2px
					border: none

.btn
	&-send
		position: relative	
		left: 50%
		transform: translateX(-50%)
		padding: 5px 25px
		margin-bottom: 30px
		border-radius: 5px
		font-size: 18px
		background: #fcb69f
		color: #ffffff
		transition: .3s
		&:hover
			outline: none
			cursor: pointer
			transform: translateX(-50%) scale(1.07)
			color: #ffffff
			background: #ff9a9e

.thanks_block
	margin-top: 200px 
	text-align: center	
	border: 3px solid #ff9a9e
	border-radius: 20px	
	
#thanksletter
	text-align: center
	font-size: 40px
	font-weight: bold


@import "media" // Always at the end
