@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.logo
		margin-left: 30px
	.menu-icon
	nav
		ul 
			li 
				padding: 10px
				margin-top: 10px
	header
		h1 
			margin-top: -50px
// ≥768px
+media-breakpoint-down(sm)
	.logo
		position: fixed
		top: 0
		margin: 16px
	nav
		ul
			width: 100%
			max-height: 0px
			background: #000000
			li 
				box-sizing: border-box
				width: 100%
				padding: 20px 0px
				text-align: center
		.black
			background: #000000
	header
		h1 
			margin-top: 90px
		p 
			padding: 5px 20px
	.showing
		max-height: 50em
		width: 100%
	.menu-icon
		display: block	
// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
