@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	padding: 0
	margin: 0
	box-sizing: border-box

html
	height: 100%
	overflow-x: hidden

body
	color: #ffffff
	margin: 0
	padding: 0
	perspective: 1px
	transform-style: preserve-3d
	height: 100%
	overflow-y: scroll
	overflow-x: hidden
	font-family: "FiraCode", monospace

.logo
	position: fixed
	float: left
	margin: 16px 105px
	color: #ffffff
	font-weight: bold
	font-size: 25px
nav
	position: fixed 
	top: 0
	right: 0
	width: 100%
	z-index: 999
	ul
		list-style: none
		overflow: hidden
		background: rgba(0, 0, 0, 0)
		padding: 0
		text-align: right
		margin: 0
		margin-right: 125px
		transition: .3s
		li 
			display: inline-block
			padding: 20px
			a 
				text-decoration: none
				color: #ffffff
				font-size: 20px
	
nav
	.black
		ul
			background: #000000
		li
			display: inline-block
			padding: 20px
			a 
				text-decoration: none
				color: #ffffff
				font-size: 20px
	

.menu-icon
	width: 100%
	background: #000000
	text-align: right
	box-sizing: border-box
	padding: 15px 24px
	cursor: pointer
	color: #ffffff
	display: none
	

header
	min-height: 100vh
	padding: 30vw 0 5vw
	width: 100vw
	h1
		margin-top: -120px
		text-align: center
		font-size: 60px
	p
		text-align: center
		font-size: 32px
		font-style: italic
	h2 
		font-size: 30px
		text-align: center
	&:before
		background: 50% 50% / cover
		bottom: 0
		content: ""
		left: 0
		position: absolute
		right: 0
		top: 0
		display: block
		background-image: url(../img/cc75d166971781.5b2953a886de3.jpg)
		background-size: cover
		transform-origin: center center 0
		transform: translateZ(-1px) scale(2)
		z-index: -1
		min-height: 100vh
	

.content
	background: url(../img/content.jpg)	
	position: relative
	overflow: hidden
.span_name
	color: #ffffff
.text_descr
	margin-top: 50px
	padding: 20px
	h3
		font-size: 25px
		text-align: center
	&-exp
		margin-top: 10px

.img_block
	margin-top: 80px
	border-radius: 20px
	img
		width: 100%
		border-radius: 20px
.bottom_text
	padding: 15px
	margin-top: 55px
	font-size: 15px
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
@import "media" // Always at the end
