@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	padding: 0
	margin: 0
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url('/img/clock-pattern.png') center no-repeat
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main
	position: relative
	background-color: #cccccc
	width: 400px
	height: 175px
	margin: 100px	 auto
	border-radius: 10px
	text-align: center
	padding: 30px

.badge
	position: absolute
	top: -10%
	left: 50%
	transform: translateX(-50%)
	width: 90px
	background: #e66357
	text-transform: uppercase
	font-family: sans-serif
	font-weight: bold
	border-radius: 5px 10px
	color: $text
	padding: 10px
	

.clock
	font-size: 55px
	height: 100%
	font-family: "Raleway", sans-serif


@import "media" // Always at the end
