@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	padding: 0
	margin: 0
	box-sizing: border-box

html
	height: 100%
	overflow-x: hidden

body
	margin: 0
	padding: 0
	font-family: "FiraCode", monospace
	background: linear-gradient(#fdfcfb, #e2d1c3)





@import "media" // Always at the end
