@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.benefits
		grid-template-columns: repeat(3, 1fr)
		.buttoncase
			grid-column: 1 / 4
		&_item
			&:nth-child(3)
				grid-column: 2 / 3
				grid-row: 1
			&:nth-child(4)
				grid-column: 1 / 2
				grid-row: 2

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header_content
		line-height: 1.3
		h1
			font-size: 50px
	.button
		font-size: 16px
	.buttoncase
		grid-column: 1 / 4
	.portfolio_section
		grid-template-columns: repeat(3, 1fr)
	.portfolio_item
		min-height: 40vh
		font-size: 16px
		&:nth-child(4)
			grid-column: 2 / 4
		&:nth-child(5)
			grid-column: 1 / 3
			grid-row: initial
		&:nth-child(6)
			grid-column: initial
			grid-row: initial
	.benefits
		grid-template-columns: repeat(2, 1fr)
		.buttoncase
			grid-column: 1 / 3

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	.header_content
		padding: 40px 20px
		h1
			font-size: 50px
	
	.landing_section
		padding: 50px 0
		h2
			text-align: center
			font-size: 26px
			margin-bottom: 26px
	.section_ready
		.container
			grid-template-columns: 1fr
			> * 
				padding: 0px 8%
				&.section_ready_left
					border: none
	.main_footer
		padding: 40px 0px
	.footer_copy
		margin-top: 10px

	.form_section
		form
			grid-template-columns: 1fr 1fr
	.benefits
		grid-template-columns: 1fr
		.buttoncase
			grid-column: 1 / 2
		&_item
			&:nth-child(3)
				grid-column: initial
			&:nth-child(4)
				grid-column: initial

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.main_header
		h1
			font-size: 40px
	.portfolio_section
		grid-template-columns: 1fr
	.portfolio_item
		min-height: 50vh
		&:nth-child(1)
			grid-column: initial
		&:nth-child(4)
			grid-column: initial
		&:nth-child(5)
			grid-column: initial
			grid-row: initial
	.buttoncase
		grid-column: 1 / 2

	.form_section
		form
			grid-template-columns: 1fr



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

