@import "fonts"
@import "libs"
@import "base"
@import "vars"

.grid
	display: grid

.overlay
	display: none
	background-color: rgba(158, 158, 158, .7)
	position: fixed
	width: 100%
	height: 100%
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 5
	align-content: center
	text-align: center
	.form_modal
		position: relative
		background-size: cover
		background-position: center
		width: 80%
		height: 50%
		border-radius: 3px
		padding: 25px
		top: 30%
		left: 50%
		transform: translateX(-50%)
		.button
			margin-top: 15px
		.close
			position: absolute
			top: 0px
			right: 0px
			padding: 10px
			border: none
			color: $white
			font-size: 30px
			background-color: transparent
			cursor: pointer
			transition: transform .5s ease
			outline: none
			&:hover
				color: $accent
				transform: rotate(90deg)
				
		input
			opacity: .9
			background-color: transparent
			text-align: center
			color: $white
			&::placeholder
				color: $white
			&:focus
				background-color: rgba(255,255,255, .2)
			&:hover
				background-color: rgba(255,255,255, .2)

.main_header
	min-height: 100vh
	background-size: cover
	background-position: center
	position: relative
	align-content: center
	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $dark
		opacity: .70
		
.header_content
	z-index: 1
	color: $white
	text-align: center
	padding: 60px $gutter
	h1
		font-size: 60px
		margin-bottom: 15px
		font-family: intro-grid, sans-serif
		font-weight: normal
		margin: 20px 0px
		line-height: 1.5
	p
		font-size: 26px
		margin: 0
		font-style: italic
	.button
		margin: 10px
	.button_gray
		background-color: $gray
		&::after
			background-color: darken($gray, 35%)
		&:hover
			background-color: lighten($gray, 5%)
			&::after
				opacity: .22
		&:active
			background-color: darken($gray, 5%)
			&::after
				opacity: .32

.portfolio
	&_section
		padding: 10px
		grid-template-columns: repeat(4,1fr)
		grid-gap: 10px
	&_item
		min-height: 32vh
		background-size: cover
		background-position: center
		text-align: center
		text-align: center
		align-content: center
		padding: $gutter
		font-size: 20px
		font-weight: bold
		color: $white
		position: relative
		transition: color .5s ease
		cursor: pointer
		&:hover
			color: $accent
			&::before
				opacity: .8
		&::before
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: $dark
			opacity: .5
		> *
			z-index: 1
		&:nth-child(1)
			grid-column: 1 / 3
		&:nth-child(5)
			grid-column: 2 / 4
		&:nth-child(6)
			grid-column: 4
			grid-row: 2 / 4


.buttoncase
	grid-column: 1 / 5
	padding: $gutter 20px 50px

.container
	max-width: 1200px
	margin: auto
	padding: 0 $gutter

.landing_section
	padding: 80px 0
	h2
		font-size: 34px
		font-weight: 800
		color: $dark
		line-height: 1.2
		

.section_ready
	background-color: $light
	.container
		grid-template-columns: 1fr 1fr
	&_left
		border-right: 1px solid #dadada
		font-size: 18px
		padding: 
			top: 60px
			right: 60px
			bottom: 60px
		h2
			margin-top: 0
			margin-bottom: 40px
	
.form_section
	padding: 30px 0px
	background-color: $dark
	input
		background-color: lighten($dark, 7%)
	form
		grid-gap: $gutter
		grid-template-columns: repeat(4, 1fr)
	.button
		font-size: 17px
		padding: 14.5px
		width: 100%

input, textarea
	border: 0
	padding: 15px 20px
	width: 100%
	font-family: Aria, sans-serif
	font-style: italic
	outline: none
	transition: background-color .25s ease
	&:focus
		background-color: $light
	&::placeholder
		color: lighten($dark, 20%)

.section_benefits
	margin-top: 0
	margin-bottom: 50px
	.buttoncase
		padding-bottom: 0
.benefits
	grid-gap: $gutter
	grid-template-columns: repeat(4, 1fr)
.benefits_item
	background-color: #f7f7f7
	text-decoration: none
	grid-template-rows: 1fr 1fr
	transition: background-color .25s ease
	overflow: hidden
	color: $dark
	&:nth-child(3)
		grid-column: 3 / 5
	&:nth-child(4)
		grid-column: 1 / 3
	&:hover
		background-color: $light
	&_img
		min-height: 270px
		background-size: cover
		background-position: center
		transition: transform .25s ease
		&:hover
			transform: scale(1.05) translateY(-6.5px)
	&_content
		padding: 25px
		text-align: center
		align-content: center
		h4
			font-size: 18px
			color: #666
			line-height: 1.3
			margin: 0
			transition: color .25s ease
			&:hover
				color: $dark
		p
			margin-top: 20px
			margin-bottom: 0


.main_footer
	padding: 60px 0px
	background-color: darken($dark, 8%)
	text-align: center
	color: #4E5355

.footer_logo
	font-family: intro-grid, sans-serif
	font-size: 22px
	line-height: 1.16
	span
		display: block
		color: #707476
		font-size: 27px

.footer_copy
	font-size: 20px
	font-weight: bold
	color: #494D50
	margin-top: 20px


.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 11px 60px
	font-size: 16px
	font-weight: 800
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

.thankful_page
	min-height: 100vh
	position: relative
	background-size: cover
	background-position: center
	align-content: center
	text-align: center
.thx_title
	font-size: 50px
	display: block
	margin-top: 50px
	font-weight: bold
.thx_subtitle
	font-size: 40px

.appearForm
	animation: fadeIn .7s
@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1
.dissapearForm
	animation: fadeOut .7s
@keyframes fadeOut
	0%
		opacity: 1
	100%
		opacity: 0

@import "media" // Всегда в конце
