@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $mainYellow;
  font-size: 62.5%;
}

body {
  font-family: 'SF Mono', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

a {
  text-decoration: none !important;
  color: $mainYellow;
  &:hover {
    color: #000000;
  }
}